# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Data files
*.txt
*.csv
*.pdf

# R files
*.rdata
*.rda 
*.Rhistory
*.Rapp.history

# Python files
__pycache__/

# Data files
*.csv
*.txt

# Other
*.DS_Store
